body { display: flex; flex-direction: column; justify-content: space-between; }

.C_footer { transition: 5s; width: 100%; height: 3.125rem; display: block; position: fixed; bottom: 0; left: 0; background: white; }
.C_footer ul { width: 100%; height: 100%; }
.C_footer ul li { width: 20%; height: 100%; float: left; display: flex; flex-direction: column; justify-content: space-around; align-items: center; }
.C_footer ul li i { display: block; width: 1.4375rem; height: 1.4375rem; }
.C_footer ul li span { color: #686868; font-size: 0.625rem; }
.C_footer ul li:nth-child(1) i { background: url("../img/icons/tab_button_homepage_selected.png") no-repeat center center; background-size: 100%; }
.C_footer ul li:nth-child(2) i { background: url("../img/icons/tab_button_store_normal.png") no-repeat center center; background-size: 100%; }
.C_footer ul li:nth-child(3) i { background: url("../img/icons/tab_button_community_normal.png") no-repeat center center; background-size: 100%; }
.C_footer ul li:nth-child(4) i { background: url("../img/icons/tab_button_nearby_normal.png") no-repeat center center; background-size: 100%; }
.C_footer ul li:nth-child(5) i { background: url("../img/icons/tab_button_my_normal.png") no-repeat center center; background-size: 100%; }

.swiper-pagination-bullet { width: 10px; height: 2px; border-radius: 0; }

.swiper-pagination-bullet-active { background-color: white; }

.T_index .index-header { width: 100%; height: 2.916666rem; position: fixed; top: 0; left: 0; z-index: 9999; display: none; background: #f3f5f7; }
.T_index .index-header ul { width: 100%; height: 100%; display: flex; }
.T_index .index-header ul li { width: 20%; height: 100%; line-height: 2.916666rem; text-align: center; font-size: 0.833333rem; }
.T_index .content { position: relative; height: 100%; overflow: hidden; }
.T_index .content #jiazai { width: 100%; height: 8.333333rem; position: absolute; top: -8.333333rem; left: 0; background: url("../img/jiazai.gif") no-repeat center 40%; background-size: 100%; }
.T_index .content .banner { width: 100%; height: 13.041666rem; }
.T_index .content .banner .swiper-slide img { width: 100%; height: 100%; }
.T_index .content .type { width: 100%; height: 17.708333rem; }
.T_index .content .type .type-top { width: 100%; height: 67.3%; display: flex; }
.T_index .content .type .type-top .left { width: 50%; height: 100%; background: url("../img/index-img/shouye0.png") no-repeat center center; background-size: 100%; }
.T_index .content .type .type-top .right { width: 50%; height: 100%; }
.T_index .content .type .type-top .right .top { width: 100%; height: 50%; background: url("../img/index-img/shouye_03.png") no-repeat center center; background-size: 100%; }
.T_index .content .type .type-top .right .bottom { width: 100%; height: 50%; background: url("../img/index-img/shouye_05.png") no-repeat center center; background-size: 100%; }
.T_index .content .type .type-bottom { width: 100%; height: 32.7%; display: flex; }
.T_index .content .type .type-bottom .activity { width: 50%; height: 100%; background: url("../img/index-img/shouye_06.png") no-repeat center center; background-size: 100%; }
.T_index .content .type .type-bottom .chahua { width: 50%; height: 100%; background: url("../img/index-img/shouye_07.png") no-repeat center center; background-size: 100%; }
.T_index .content .news { width: 100%; }
.T_index .content .news section { width: 100%; margin-top: 0.604166rem; height: 22.375rem; background-color: white; }
.T_index .content .news section .date { width: 100%; height: 3.270833rem; line-height: 3.270833rem; text-align: center; font-size: 1.041666rem; color: #d0d0d0; }
.T_index .content .news section .pic { width: 100%; height: 13.020833rem; }
.T_index .content .news section .pic img { width: 100%; height: 100%; }
.T_index .content .news section .message { padding-left: 1.3125rem; padding-top: 0.833333rem; }
.T_index .content .news section .message h3 { width: 100%; height: 2.75rem; line-height: 2.75rem; font-size: 1.1875rem; }
.T_index .content .news section .message .message-a { width: 100%; height: 2.083333rem; line-height: 2.083333rem; font-size: 0.833333rem; }

.T_wenchuang { display: flex; flex-direction: column; }
.T_wenchuang header { height: 2.916666rem; width: 100%; display: flex; justify-content: space-between; background-color: white; }
.T_wenchuang header span { display: block; width: 3.75rem; height: 100%; }
.T_wenchuang header .search { background: url("../img/wenchuang/search.png") no-repeat center center; background-size: 1.541666rem 1.458333rem; }
.T_wenchuang header .title { background: url("../img/wenchuang/wc.png") no-repeat center center; background-size: 2.291666rem 1.104166rem; }
.T_wenchuang header .ruzhu { margin-right: 1.041666rem; background: url("../img/wenchuang/ruzhu.png") no-repeat center center; background-size: 3.75rem 0.958333rem; }
.T_wenchuang .content { width: 100%; flex: 1; overflow: hidden; position: relative; }
.T_wenchuang .content #jiazai { width: 100%; height: 8.333333rem; position: absolute; top: -8.333333rem; left: 0; background: url("../img/jiazai.gif") no-repeat center 40%; background-size: 100%; }
.T_wenchuang .content .banner { width: 100%; height: 8.125rem; }
.T_wenchuang .content .banner img { width: 100%; height: 100%; }
.T_wenchuang .content .banner2 { width: 100%; height: 11.25rem; margin-top: 1.25rem; padding-left: 0.416666rem; }
.T_wenchuang .content .banner2 img { width: 6.520833rem; height: 6.520833rem; }
.T_wenchuang .content .banner2 p { width: 6.520833rem; height: 2.416666rem; line-height: 2.416666rem; text-align: center; }
.T_wenchuang .content .banner2 .p1 { font-size: 0.833333rem; color: #1e1e1e; }
.T_wenchuang .content .banner2 .price { color: #9fb427; font-size: 0.583333rem; }
.T_wenchuang .content .products { padding: 0 0.416666rem; width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap; }
.T_wenchuang .content .products section { width: 49%; height: 18.4375rem; }
.T_wenchuang .content .products section .prod_pic { width: 100%; height: 62.57%; }
.T_wenchuang .content .products section .prod_pic img { width: 100%; height: 100%; }
.T_wenchuang .content .products section .title { width: 88.4%; padding: 0 0.625rem; height: 3.625rem; text-align: center; display: flex; align-items: center; }
.T_wenchuang .content .products section .title h4 { height: 1.041666rem; line-height: 1.104166rem; font-size: 0.75rem; }
.T_wenchuang .content .products section .author { display: flex; justify-content: space-between; width: 88.4%; padding: 0 0.625rem; height: 3.0625rem; font-size: 0.666666rem; }
.T_wenchuang .content .products section .author .prod_maker { height: 100%; line-height: 3.0625rem; color: #7e7e7e; }
.T_wenchuang .content .products section .author .prod_price { height: 100%; line-height: 3.0625rem; color: #aabf36; }
.T_wenchuang footer ul li:nth-child(1) i { background: url("../img/icons/tab_button_homepage_normal.png") no-repeat center center; background-size: 100%; }
.T_wenchuang footer ul li:nth-child(2) i { background: url("../img/icons/tab_button_store_selected.png") no-repeat center center; background-size: 100%; }
.T_wenchuang footer ul li:nth-child(3) i { background: url("../img/icons/tab_button_community_normal.png") no-repeat center center; background-size: 100%; }
.T_wenchuang footer ul li:nth-child(4) i { background: url("../img/icons/tab_button_nearby_normal.png") no-repeat center center; background-size: 100%; }
.T_wenchuang footer ul li:nth-child(5) i { background: url("../img/icons/tab_button_my_normal.png") no-repeat center center; background-size: 100%; }

.T_my { height: 100%; display: flex; flex-direction: column; }
.T_my .login_yemian, .T_my .register_yemian { width: 100%; height: 100%; position: absolute; top: 0; left: 100%; transition: 0.5s ease-in-out; background: white; }
.T_my .login_yemian .top, .T_my .register_yemian .top { width: 100%; height: 2.916666rem; background: #b4292e; display: flex; justify-content: space-between; align-items: center; }
.T_my .login_yemian .top span, .T_my .register_yemian .top span { display: block; height: 100%; color: white; }
.T_my .login_yemian .top #back, .T_my .register_yemian .top #back { margin-left: 0.208333rem; width: 2.083333rem; height: 2.083333rem; background: url(../img/icons/nav_icon_backwhite_normal.png) no-repeat center center; background-size: 1.466666rem; }
.T_my .login_yemian .top .title, .T_my .register_yemian .top .title { line-height: 2.916666rem; font-size: 0.875rem; }
.T_my .login_yemian .top .call, .T_my .register_yemian .top .call { margin-right: 0.3125rem; width: 2.083333rem; height: 2.083333rem; background: url(../img/icons/ic_phone_highlighted.png) no-repeat center center; background-size: 1.666666rem; }
.T_my .login_yemian .main, .T_my .register_yemian .main { width: 100%; margin-top: 2.4375rem; height: 15.208333rem; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.T_my .login_yemian .main div, .T_my .register_yemian .main div { margin-top: 0.875rem; width: 89.33%; height: 3.291666rem; }
.T_my .login_yemian .main div input, .T_my .register_yemian .main div input { padding-left: 0.816666rem; width: 100%; height: 100%; border: none; background: url(../img/wode/kuang.png) no-repeat center center; background-size: 100%; font-size: 0.833333rem; }
.T_my .login_yemian .main #login, .T_my .login_yemian .main #register, .T_my .register_yemian .main #login, .T_my .register_yemian .main #register { text-align: center; line-height: 3.291666rem; background-color: #b4292e; border-radius: 0.416666rem; color: white; }
.T_my .login_yemian .main .pic, .T_my .register_yemian .main .pic { margin-top: 1.125rem; width: 89.33%; height: 2.083333rem; background: url(../img/wode/bot.png) no-repeat center center; background-size: 100%; }
.T_my header { width: 100%; height: 2.916666rem; display: flex; justify-content: space-between; background-color: white; }
.T_my header .xinfeng { display: block; width: 4.375rem; height: 100%; background: url(../img/icons/ic_new_hight.png) no-repeat center center; background-size: 30%; }
.T_my header .my { display: block; width: 3.5625rem; height: 100%; text-align: center; line-height: 2.916666rem; }
.T_my header .opt { display: block; width: 4rem; height: 100%; background: url(../img/icons/ic_btn_cancel.png) no-repeat center center; background-size: 30%; }
.T_my .content { flex: 1; overflow: hidden; }
.T_my .content .mymessage { width: 100%; height: 5.208333rem; margin-top: 0.925rem; font-size: 0.833333rem; padding-left: 1.041666rem; color: white; }
.T_my .content .mymessage .top { display: flex; }
.T_my .content .mymessage .top .id { color: orange; }
.T_my .content .mymessage .top .leval { color: orange; }
.T_my .content .mymessage .top .sex { display: block; margin-left: 0.416666rem; margin-right: 0.3125rem; width: 1.041666rem; height: 1.041666rem; }
.T_my .content .mymessage .lr { margin-top: 0.625rem; width: 100%; padding: 0 30.3%; display: flex; justify-content: space-around; }
.T_my .content .mymessage .lr span { border-radius: 0.3125rem; display: block; width: 4.125rem; height: 1.875rem; line-height: 1.875rem; text-align: center; background: orange; }
.T_my .content .guanzhu { width: 100%; height: 3.583333rem; display: flex; font-size: 0.833333rem; background: white; }
.T_my .content .guanzhu p { width: 25%; height: 100%; line-height: 3.583333rem; color: #717171; }
.T_my .content .guanzhu p span { padding: 0 0.208333rem; color: #2e2e2e; }
.T_my .content .guanzhu .tea { background: url(../img/wode/tea.png) no-repeat center top; background-size: 4.1875rem 2.833333rem; }
.T_my .content .guanzhu .share { background: url(../img/wode/share.png) no-repeat right center; background-size: 3.541666rem 3.541666rem; }
.T_my .content .main { width: 100%; }
.T_my .content .main ul { width: 100%; display: flex; flex-wrap: wrap; }
.T_my .content .main ul li { padding: 1.875rem 0; display: flex; flex-direction: column; align-items: center; justify-content: space-between; width: 33.333%; height: 7.916666rem; background: #ffffff; border-right: 0.020833rem solid #f5f5f5; border-bottom: 0.020833rem solid #f5f5f5; }
.T_my .content .main ul li span { font-size: 0.833333rem; color: #717171; }
.T_my .content .main ul li i { display: block; width: 1.791666rem; height: 1.791666rem; }
.T_my .content .main ul li:nth-child(1) i { background: url(../img/wode/wode_03.png) no-repeat center center; background-size: 100%; }
.T_my .content .main ul li:nth-child(2) i { background: url(../img/wode/wode_05.png) no-repeat center center; background-size: 100%; }
.T_my .content .main ul li:nth-child(3) { border-right: none; }
.T_my .content .main ul li:nth-child(3) i { background: url(../img/wode/wode_12.png) no-repeat center center; background-size: 100%; }
.T_my .content .main ul li:nth-child(4) { border-bottom: none; }
.T_my .content .main ul li:nth-child(4) i { background: url(../img/wode/wode_13.png) no-repeat center center; background-size: 100%; }
.T_my .content .main ul li:nth-child(5) { border-bottom: none; }
.T_my .content .main ul li:nth-child(5) i { background: url(../img/wode/wode_14.png) no-repeat center center; background-size: 100%; }
.T_my .content .main ul li:nth-child(6) { border-right: none; border-bottom: none; }
.T_my .content .main ul li:nth-child(6) i { background: url(../img/wode/wode_15.png) no-repeat center center; background-size: 100%; }
.T_my .C_footer ul li:nth-child(1) i { background: url("../img/icons/tab_button_homepage_normal.png") no-repeat center center; background-size: 100%; }
.T_my .C_footer ul li:nth-child(2) i { background: url("../img/icons/tab_button_store_normal.png") no-repeat center center; background-size: 100%; }
.T_my .C_footer ul li:nth-child(3) i { background: url("../img/icons/tab_button_community_normal.png") no-repeat center center; background-size: 100%; }
.T_my .C_footer ul li:nth-child(4) i { background: url("../img/icons/tab_button_nearby_normal.png") no-repeat center center; background-size: 100%; }
.T_my .C_footer ul li:nth-child(5) i { background: url("../img/icons/tab_button_my_selected.png") no-repeat center center; background-size: 100%; }

.T_fujin { display: flex; flex-direction: column; height: 100%; }
.T_fujin #map { width: 100%; height: 100%; background: white; z-index: 9999; position: absolute; top: 0; left: 100%; transition: 0.5s ease-in-out; display: flex; flex-direction: column; }
.T_fujin #map p { background: white; width: 100%; height: 2.916666rem; }
.T_fujin #map p .fanhui { display: block; width: 3.25rem; height: 100%; background: url(../img/icons/ic_arrow_hint.png) no-repeat center center; background-size: 50%; }
.T_fujin #map #amap { flex: 1; }
.T_fujin header { height: 2.916666rem; width: 100%; display: flex; justify-content: space-between; background-color: white; }
.T_fujin header span { display: block; }
.T_fujin header .dinwei { width: 5.416666rem; height: 100%; background: url(../img/fujin/fujin_02.png) no-repeat center center; background-size: 100%; }
.T_fujin header .title { width: 4.395833rem; height: 100%; background: url(../img/fujin/fujin_04.png) no-repeat center center; background-size: 100%; }
.T_fujin header .ditu { width: 4.25rem; height: 100%; background: url(../img/fujin/fujin_06.png) no-repeat center center; background-size: 100%; }
.T_fujin .content { flex: 1; overflow: hidden; position: relative; }
.T_fujin .content .picbox { width: 100%; height: 9.083333rem; margin-bottom: 0.375rem; }
.T_fujin .content .picbox img { width: 100%; height: 100%; }
.T_fujin .C_footer { position: static; }
.T_fujin .C_footer ul li:nth-child(1) i { background: url("../img/icons/tab_button_homepage_normal.png") no-repeat center center; background-size: 100%; }
.T_fujin .C_footer ul li:nth-child(2) i { background: url("../img/icons/tab_button_store_normal.png") no-repeat center center; background-size: 100%; }
.T_fujin .C_footer ul li:nth-child(3) i { background: url("../img/icons/tab_button_community_normal.png") no-repeat center center; background-size: 100%; }
.T_fujin .C_footer ul li:nth-child(4) i { background: url("../img/icons/tab_button_nearby_selected.png") no-repeat center center; background-size: 100%; }
.T_fujin .C_footer ul li:nth-child(5) i { background: url("../img/icons/tab_button_my_normal.png") no-repeat center center; background-size: 100%; }
