body{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
   .C_footer{
        width: 100%;
        height: 3.125rem;
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        background: white;
    //  background: black;
        ul{
            width: 100%;
            height: 100%;
            li{        
                width: 20%;
                height: 100%;
                float: left;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
    //          background: pink;
                i{
                    display: block;
                    width: 1.4375rem;
                    height: 1.4375rem;
                }
                span{
                    color: #686868;
                    font-size: 0.625rem;
                }
                 &:nth-child(1){
                     i{
                        background: url("../img/icons/tab_button_homepage_selected.png") no-repeat center center;
    //                  background-size: 1.3125rem 1.083333rem;
                        background-size:100%;
                     }
                    
                }
                 &:nth-child(2){
                     i{
                        background: url("../img/icons/tab_button_store_normal.png") no-repeat center center;
    //                  background-size: 1.145833rem 1.354166rem;
                        background-size:100%;
                     }
                    
                }
                 &:nth-child(3){
                     i{
                        background: url("../img/icons/tab_button_community_normal.png") no-repeat center center;
    //                  background-size: 1.375rem 1.354166rem;
                        background-size:100%;
                     }
                    
                }
                 &:nth-child(4){
                     i{
                        background: url("../img/icons/tab_button_nearby_normal.png") no-repeat center center;
    //                  background-size: 1.104166rem 1.354166rem;
                        background-size:100%;
                     }
                    
                }
                 &:nth-child(5){
                     i{
                        background: url("../img/icons/tab_button_my_normal.png") no-repeat center center;
                        background-size: 100%;
                     }
                    
                }
            }
           
        }
    }
.T_index{
    .index-header{
    width: 100%;
    height: 2.916666rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    background: #f3f5f7;
    ul{
        width:100%;
        height: 100%;
        display: flex;
        li{
            width: 20%;
            height: 100%;
            line-height: 2.916666rem;
            text-align: center;
            font-size: 0.833333rem;                   
        }
    }
}
    .content{
        position: relative;
//      height: 91.8%;
        height: 100%;
        overflow:hidden;
        #jiazai{
            width: 100%;
           height: 8.333333rem;
            position: absolute;
            top: -8.333333rem;
            left: 0;
            background: url("../img/jiazai.gif") no-repeat center 40%;
            background-size: 100%;
        }
        .banner{
            width: 100%;
            height: 13.041666rem;
            .swiper-slide img{
                width: 100%;
                height: 100%;
            }
        }
        .type{
            width: 100%;
            height: 17.708333rem;
            .type-top{
                width: 100%;
                height: 67.3%;  
                display: flex;
                .left{
                    width: 50%;
                    height: 100%;
                    background: url('../img/index-img/shouye0.png') no-repeat center center;
                    background-size:100%;
                } 
                .right{
                    width: 50%;
                    height: 100%;
                    .top{
                        width: 100%;
                        height: 50%;
                        background: url('../img/index-img/shouye_03.png') no-repeat center center;
                        background-size:100%;
                    }
                    .bottom{
                        width: 100%;
                        height: 50%;
                        background: url('../img/index-img/shouye_05.png') no-repeat center center;
                        background-size:100%;
                    } 
                }           
            } 
            .type-bottom{
                width: 100%;
                height: 32.7%;
                 display: flex;
                .activity{
                    width: 50%;
                    height: 100%;
                    background: url('../img/index-img/shouye_06.png') no-repeat center center;
                    background-size:100%;
                }
                 .chahua{
                    width: 50%;
                    height: 100%;
                    background: url('../img/index-img/shouye_07.png') no-repeat center center;
                    background-size:100%;
                }
            }
        }
        .news{
            width: 100%;
            section{
                width: 100%;
                margin-top: 0.604166rem;
                height: 22.375rem;
                background-color:white ;
                .date{
//                  background: pink;
                    width: 100%;
                    height: 3.270833rem;
                    line-height: 3.270833rem;
                    text-align: center;
                    font-size:1.041666rem;
                    color: #d0d0d0;
                }
                .pic{
                    width: 100%;
                    height: 13.020833rem;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
               .message{
                   padding-left:1.3125rem;
                   padding-top: 0.833333rem;
                   h3{
                       width: 100%;
                       height: 2.75rem;
                       line-height: 2.75rem;
                       font-size: 1.1875rem;
                   }
                   .message-a{
                       width: 100%;
                       height: 2.083333rem;
                       line-height: 2.083333rem;
                       font-size: 0.833333rem;
                   }
               }
            }
        }
    }
}
//wengchuang.css
.T_wenchuang{
    display: flex;
    flex-direction: column;
    header{
        height: 2.916666rem;
        width: 100%;
//      background: red;
        display: flex;
        justify-content: space-between;
        background-color:white;
        span{
            display: block;
            width: 3.75rem;
            height: 100%;           
        }
        .search{
            background: url("../img/wenchuang/search.png") no-repeat center center;
            background-size:1.541666rem 1.458333rem;
        }
        .title{
            background: url("../img/wenchuang/wc.png") no-repeat center center;
           background-size:2.291666rem 1.104166rem;
        }
        .ruzhu{
            margin-right: 1.041666rem;
            background: url("../img/wenchuang/ruzhu.png") no-repeat center center;
             background-size:3.75rem 0.958333rem;
        }
    }
    .content{
        width: 100%;
//      height: 91.8%;
        flex: 1;
        overflow: hidden;
        position: relative;
         #jiazai{
            width: 100%;
           height: 8.333333rem;
            position: absolute;
            top: -8.333333rem;
            left: 0;
            background: url("../img/jiazai.gif") no-repeat center 40%;
            background-size: 100%;
        }
        .banner{
            width: 100%;
            height: 8.125rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
       .banner2{
           width: 100%;
           height: 11.25rem;
           margin-top: 1.25rem;
           padding-left:0.416666rem;
           img{
               width: 6.520833rem;
               height: 6.520833rem;
           }
           p{
               width: 6.520833rem;;
               height: 2.416666rem;
               line-height: 2.416666rem;
               text-align: center;              
           }
           .p1{
                font-size: 0.833333rem;
                color: #1e1e1e;
           }
           .price{
               color: #9fb427;
               font-size: 0.583333rem;
           }
       }
       .products{
           padding:0 0.416666rem;
           width: 100%;
           display: flex;
           justify-content: space-between;
           flex-wrap: wrap;
           section{
               width: 49%;
               height: 18.4375rem;
               .prod_pic{                
                   width:100%;
                   height: 62.57%;
                   img{
                       width: 100%;
                       height: 100%;
                   }                 
               }
               .title{
                   width: 88.4%;
                   padding: 0 0.625rem;
                   height: 3.625rem;
                   text-align: center;
                   display: flex;
                    align-items: center;
                   h4{                      
                       height: 1.041666rem;
                       line-height: 1.104166rem;
                       font-size: 0.75rem;
                   }
               }
               .author{
                    display: flex;
                   justify-content: space-between;
                    width: 88.4%;
                   padding: 0 0.625rem; 
                   height: 3.0625rem;
                   font-size: 0.666666rem;
                  
                   .prod_maker{
                       height: 100%;
                       line-height:3.0625rem;
                        color: #7e7e7e;
                   }
                   .prod_price{
                       height: 100%;
                       line-height:3.0625rem; 
                       color: #aabf36;                  
                   }
               }
               
           }
       }
    }
    footer{
        ul li{        
            &:nth-child(1){
                 i{
                    background: url("../img/icons/tab_button_homepage_normal.png") no-repeat center center;
    //                  background-size: 1.3125rem 1.083333rem;
                    background-size:100%;
                 }
                
            }
             &:nth-child(2){
                 i{
                    background: url("../img/icons/tab_button_store_selected.png") no-repeat center center;
                    background-size:100%;
                 }
                
            }
             &:nth-child(3){
                 i{
                    background: url("../img/icons/tab_button_community_normal.png") no-repeat center center;
                    background-size:100%;
                 }
                
            }
             &:nth-child(4){
                 i{
                    background: url("../img/icons/tab_button_nearby_normal.png") no-repeat center center;
                    background-size:100%;
                 }
                
            }
             &:nth-child(5){
                 i{
                    background: url("../img/icons/tab_button_my_normal.png") no-repeat center center;
                    background-size: 100%;
                 }
                
            }
        }
    }
}
//T_my
.T_my{
    height: 100%;
    display: flex;
    flex-direction: column;
    .login_yemian{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
//      left: 0;
        transition: 0.5s ease-in-out;
        background: white;      
        .top{           
            width: 100%;
            height: 2.916666rem;
            background: #b4292e;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                display: block;
                height: 100%;
                color: white;
            }
            #back{
                margin-left: 0.208333rem;
                width: 2.083333rem;
                height:2.083333rem;
                background: url(../img/icons/nav_icon_backwhite_normal.png) no-repeat center center;
                background-size: 1.466666rem;
            }
            .title{               
                line-height: 2.916666rem;
                font-size: 0.875rem;
            }
            .call{
                margin-right: 0.3125rem;
                width: 2.083333rem;
                height:2.083333rem;
                background: url(../img/icons/ic_phone_highlighted.png) no-repeat center center;
                background-size: 1.666666rem;
            }
        }
        .main{
            width: 100%;
            margin-top:2.4375rem;
            background: red;
            height: 15.208333rem;
        }
    }
    header{
        width: 100%;
        height: 2.916666rem;
        display: flex;
        justify-content: space-between;
        .xinfeng{
            display: block;
            width: 4.375rem;
            height: 100%;
            background: url(../img/wode/xinfeng.png) no-repeat center center;
            background-size:100% ;
        }
        .my{
            display: block;
            width: 3.5625rem;
            height: 100%;
            background: url(../img/wode/wode.png) no-repeat center center;
            background-size:100% ;
        }
         .opt{
            display: block;
            width: 4rem;
            height: 100%;
            background: url(../img/wode/opt.png) no-repeat center center;
            background-size:100% ;
        }
    }
    .content{
        flex: 1;
        overflow: hidden;      
        .mymessage{
            width: 100%;
            height: 5.208333rem;
//          background: red;
            font-size: 0.833333rem;
            padding-left: 1.041666rem;
            color: white;
            .top{
                display:flex;
                .id{
                
                }
                .sex{
                    display: block;
                    margin-left:0.416666rem;
                    margin-right: 0.3125rem;
                    width: 1.041666rem;
                    height: 1.041666rem;
                    background: url(../img/icons/ic_home_male.png) no-repeat center center;
                    background-size: 100%;
                }
            }
            .lr{
                margin-top: 0.625rem;
                width: 100%;
                padding: 0 30.3%;
                display: flex;
                justify-content: space-around;
                span{
                    border-radius:0.3125rem;
                    display: block;
                    width: 4.125rem;
                    height: 1.875rem;
                    line-height: 1.875rem;
                    text-align: center;
                    background: orange;
                }
            }
        }
        .guanzhu{
            width: 100%;
            height: 3.583333rem;
            display: flex;
            font-size: 0.833333rem;  
            background: white;         
            p{
                width:25%;
                height: 100%;
                line-height: 3.583333rem;
//              background-color:red ;
                color: #717171;
                span{
                    padding: 0 0.208333rem;
                    color:#2e2e2e ;
                }
            }
            .tea{
                background:url(../img/wode/tea.png) no-repeat center top;
                background-size:4.1875rem 2.833333rem;
            }
            .share{
                background:url(../img/wode/share.png) no-repeat right center;
                background-size: 3.541666rem 3.541666rem;
            }
        }
        .main{
            
            width: 100%;
            ul{
                width: 100%;
                display: flex;
                 flex-wrap: wrap;
                li{
                    padding: 1.875rem 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    width: 33.333%;
                    height: 7.916666rem; 
                    background: #ffffff;
                    border-right: 0.020833rem solid #f5f5f5;
                    border-bottom: 0.020833rem solid #f5f5f5;
                    span{
                        font-size:0.833333rem;
                        color: #717171;
                    }           
                    i{
                        display: block;
                        width: 1.791666rem;
                        height:1.791666rem;                        
                    }
                    &:nth-child(1){
                        i{
                            background: url(../img/wode/wode_03.png) no-repeat center center;
                            background-size: 100%;
                        }                       
                    }
                    &:nth-child(2){
                        i{
                            background: url(../img/wode/wode_05.png) no-repeat center center;
                            background-size: 100%;
                        }                       
                    }
                    &:nth-child(3){
                        border-right: none;
                        i{
                            background: url(../img/wode/wode_12.png) no-repeat center center;
                            background-size: 100%;
                        }                       
                    }
                    &:nth-child(4){
                        border-bottom:none;
                        i{
                            background: url(../img/wode/wode_13.png) no-repeat center center;
                            background-size: 100%;
                        }                       
                    }
                    &:nth-child(5){
                        border-bottom:none;
                        i{
                            background: url(../img/wode/wode_14.png) no-repeat center center;
                            background-size: 100%;
                        }                       
                    }
                    &:nth-child(6){
                        border-right: none;
                        border-bottom:none;
                        i{
                            background: url(../img/wode/wode_15.png) no-repeat center center;
                            background-size: 100%;
                        }                       
                    }
                }
            }
        }
    }
.C_footer{
    ul li{        
        &:nth-child(1){
             i{
                background: url("../img/icons/tab_button_homepage_normal.png") no-repeat center center;
//                  background-size: 1.3125rem 1.083333rem;
                background-size:100%;
             }
            
        }
         &:nth-child(2){
             i{
                background: url("../img/icons/tab_button_store_normal.png") no-repeat center center;
                background-size:100%;
             }
            
        }
         &:nth-child(3){
             i{
                background: url("../img/icons/tab_button_community_normal.png") no-repeat center center;
                background-size:100%;
             }
            
        }
         &:nth-child(4){
             i{
                background: url("../img/icons/tab_button_nearby_normal.png") no-repeat center center;
                background-size:100%;
             }
            
        }
         &:nth-child(5){
             i{
                background: url("../img/icons/tab_button_my_selected.png") no-repeat center center;
                background-size: 100%;
             }
            
        }
    }
}
}
